body {
    height: 300vh;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

nav {
    border: 2px solid white;
    background-color: white;
    padding: 20px;
    position: fixed;
    width: 100vw;
}